@model BookStore.Models.Domain.Books
@{
}
<form class="w-40" asp-action="Edit" method="post">
    <h2 class="pb-10">Update Movie</h2>
    <input type="hidden" class="input" asp-for="Id">
    <input type="hidden" class="input" asp-for="BookImage">

    <div class="input-container">
        <label asp-for="BookName" class="w-40">Book Name</label>
        <input type="text" class="input" asp-for="BookName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="BookName"> </span>
    </div>

    <div class="input-container">
        <label asp-for="BookImage" class="w-40">Image</label>
        <input type="file" asp-for="ImageFile">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="ImageFile"> </span>
    </div>
    <div class="input-container">
        <label asp-for="Author" class="w-40">Author</label>
        <input type="text" class="input" asp-for="Author">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Author"> </span>
    </div>
    <div class="input-container">
        <label asp-for="Genres" class="w-40">Genre</label>
        <select asp-items="Model.MultiGenreList" class="input" asp-for="Genres" multiple>
            <option value="">--select--</option>
        </select>
    </div>

    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Genres"> </span>
    </div>
    <div class="input-container">
        <label asp-for="LaunchYear" class="w-40">LauchYear</label>
        <input type="text" class="input" asp-for="LaunchYear">
    </div>

    <div class="message-box pd-x-28 error">
        <span asp-validation-for="LaunchYear"> </span>
    </div>
    <div class="input-container">
        <label asp-for="Price" class="w-40">Price</label>
        <input type="text" asp-for="Price">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Price"> </span>
    </div>
   

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button type="submit" class="btn btn-default" >Save</button>
        <a class="btn btn-sec" href="/Home/Index">Back</a>
    </div>
</form>
